<header>
	<h1>Welcome to Climate Cents</h1>
	<h2>Currently using Rails <%= Rails.version %></h2>
</header>

<section>
	<% if current_user.present? %>
	<p>Hello, <%= current_user.email %>
	<% end %>
	<p>The future home of the Climate Cents dashboard</p>
</section>