<header>
	<h1>Welcome to Climate Cents</h1>
	<h2>Currently using Rails <%= Rails.version %></h2>
</header>

<section>
	<% if current_user %>
	<p>Hello, <%= current_user.email %>
	<% end %>
	<p>The future home of the Climate Cents dashboard</p>
</section>

<section>
	<% if current_user %>
	<p><%= link_to 'Donors', donors_path %></p>
	<p><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></p>
	<% end %>
</section>